body,div,p,span,a,header,footer,nav,ul,li,table,h1,h2,h3,h4,h5,h6,hgroup,article,section,img{
	margin:0;
	padding:0;
}
body{
	font-family: "黑体";
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
header{	
	width: 100%;
	height: 83px;
	text-align: center;
	line-height: 80px;
	position: fixed;
	top: 0px;
	background: rgba(255,255,255,0.6);
    z-index: 2;
}
nav{
	width:1000px;
	margin: 0 auto;
}
.Navlist{
	float:right;
}

.Navlist li{
	width:150px;
	height: 80px;
	float:left;
	border:none;
	transition: all 0.5s;
}
.Navlist li a{
	color:#FFC001;
	font-size:20px;
	font-weight:bold;
}
/*鼠标移入出现黄色背景*/
.Navlist li:hover{
	background:#FFC001;
}
.Navlist li:hover a{
	color:#fff;
}
/*跳转到相应的页面，对应的导航栏下面出现黄色底框*/
/*首页换色底框*/
.Navlist li:nth-child(1){
	border-bottom:3px solid #FFC001;
}
/*照片欣赏黄色底框*/
.navPhotos li:nth-child(1){
	border:none;
}
.navPhotos li:nth-child(2){
	border-bottom:3px solid #FFC001;
}
/*婚纱摄影黄色底框*/
.NavWeddings li:nth-child(1){
	border:none;
}
.NavWeddings li:nth-child(3){
	border-bottom:3px solid #FFC001;
}
/*动物摄影黄色底框*/
.NavAnimals li:nth-child(1){
	border:none;
}
.NavAnimals li:nth-child(4){
	border-bottom:3px solid #FFC001;
}
/*摄影概述黄色底框*/
.NavSummary li:nth-child(1){
	border:none;
}
.NavSummary li:nth-child(5){
	border-bottom:3px solid #FFC001;
}
/*底部*/
footer{
	max-width:1920px;
	min-width:1000px;
	height:270px;
	background-color: #404040;
	position: relative;
}
footer ul{
	width:1000px;
	height: 100%;
	/*overflow: hidden;*/
	margin: auto;
	color:#a5a5a5;
	padding-top:50px;
	position: absolute;
    left: 50%;
    margin-left: -500px;
    box-sizing: border-box;
}
footer ul li{
	margin-bottom: 30px;
	font-size:18px
}