/*淡入淡出的轮播图*/
#weddingsBox{
	max-width:1920px;
	min-width:1000px;
	margin:0px auto;
	
}
.weddingsBannerBox{
	width:1000px;
	height:500px;
	margin:0px auto;
	position: relative;	
}
.weddingsBannerBox li{
	width:100%;
	height:100%;
	position: absolute;
	left: 0;
	top:0;
	opacity: 0;
	transition: all 30s;
}
.weddingsBannerBox li img{
	width:100%;
	height: 100%;	
}
@keyframes fadeBanner1{
	0%{opacity: 0;}
	10%{opacity: 1;}
	20%{opacity:1}
	30%{opacity:0}
}
.weddingsBannerBox li:nth-child(1){
	animation: fadeBanner1 15s linear infinite;
}
@keyframes fadeBanner2{
	20%{opacity: 0;}
	30%{opacity: 1;}
	40%{opacity:1}
	50%{opacity:0}
}
.weddingsBannerBox li:nth-child(2){
	animation: fadeBanner2 15s linear infinite;
}
@keyframes fadeBanner3{
	40%{opacity: 0;}
	50%{opacity: 1;}
	60%{opacity:1}
	70%{opacity:0}
}
.weddingsBannerBox li:nth-child(3){
	animation: fadeBanner3 15s linear infinite ;
}
@keyframes fadeBanner4{
	60%{opacity: 0;}
	70%{opacity: 1;}
	80%{opacity:1}
	90%{opacity:0}
}
.weddingsBannerBox li:nth-child(4){
	animation: fadeBanner4 15s linear infinite ;
}
@keyframes fadeBanner5{
	80%{opacity: 0;}
	90%{opacity: 1;}
	100%{opacity:1}
	10%{opacity:0}
}
.weddingsBannerBox li:nth-child(5){
	animation: fadeBanner5 15s linear infinite;
}
/*摄影种类*/
.photoCatagray{
	width:1000px;	
	margin:130px auto 0px;
	
}
.photoCatagray h1{
	text-align: center;
    margin-bottom: 40px;
}
.pcLeft{
	width:497px;
	height:457px;
	float:left;
	background: url("../img/xj-photo.png") no-repeat;
	background-size:100% 100%;
	margin-right:30px;
	transition: all 1s;
}
.pcLeft:hover{
	transform: scale(1.1);
}
.pcRight{
	width:400px;
	height:300px;
	float:left;
}

.numbers{
	font-size: 34px;
    color: #e03622;
}
.catagory{
	font-size: 18px;
    font-weight: bold;
    color: #666;
}
.catograyContent{
	font-size: 14px;
	color:#c1c1c1;
}
.pcRight li{
	margin-bottom:15px;
	line-height: 30px;
}
/*文字部分*/
.words{
	clear:both;
	width:1000px;
	height: 800px;
	margin:0px auto;	
}
.wordsBox{
	margin: 0px auto;
    width: 944px;
    height: 519px;
    background: url(../img/carme.png) no-repeat;
    background-size:100% 100%;
}
.wdTitle{
	text-align: center;
	padding:120px 0px 50px;	
}
.wordsBox ul li{
	font-size: 20px;
	width: 100px;
}
/*文字运动*/
@keyframes aMove{
	0%{transform:translate(0,0)}	
	100%{transform:translate(145px,35px)}	
}
.wordsBox li:nth-child(1){	
	animation: aMove 2s forwards;
}
@keyframes bMove{
	30%{transform:translate(0,30px)}
	45%{transform:translate(30px,240px)}
	100%{transform:translate(30px,240px)}	
}
.wordsBox li:nth-child(2){
	animation: bMove 5s forwards;
}
@keyframes cMove{
	30%{transform:translate(0,30px)}
	45%{transform:translate(0px,180px)}
	50%{transform:translate(0px,180px)}
	100%{transform:translate(860px,180px)}
}
.wordsBox li:nth-child(3){
	animation: cMove 4s forwards;
}
@keyframes dMove{
	30%{transform:translate(0,30px)}
	45%{transform:translate(0px,180px)}
	60%{transform:translate(0px,180px)}
	100%{transform:translate(750px,-130px)}
}
.wordsBox li:nth-child(4){
	animation: dMove 4.2s forwards;
}
