/*照片墙*/
.photoWall{
	max-width:1920px;
	min-width:1000px;
	height:600px;
	background: url(../img/xpxs_top_bg.png) no-repeat center;
}
.photoWallBox{
	width:1000px;
	margin:0px auto;
}
.photoWall img{
	border:10px solid rgba(255, 165, 0, 0.29);
	transition:all 1s;
}
.photoWall img:nth-child(1){
	transform: rotate(-27deg) translate(82px,140px);	
}
.photoWall img:nth-child(1):hover{
	transform: translate(150px,70px) scale(1.25);
}
.photoWall img:nth-child(2){
	transform: rotate(13deg) translate(270px,-60px);	
}
.photoWall img:nth-child(2):hover{
	transform: translate(300px,10px) scale(1.5,1.5);
}
.photoWall img:nth-child(3){
	transform: rotate(17deg) translate(-12px,218px);	
}
.photoWall img:nth-child(3):hover{
	transform: translate(-55px,200px) scale(1.2);
}
.photoWall img:nth-child(4){
	transform:rotate(-20deg) translate(300px,149px);	
}
.photoWall img:nth-child(4):hover{
	transform: translate(300px,49px) scale(1.2);
}
.photoWall img:nth-child(5){
	transform: translate(-630px,180px);	
}
.photoWall img:nth-child(5):hover{
	transform: translate(-621px,180px) scale(1.1);
}
.photoWall img:nth-child(6){
	transform: rotate(10deg) translate(88px,261px);	
}
.photoWall img:nth-child(6):hover{
	transform: translate(88px,261px) scale(1.2);
}
.photoWall img:nth-child(7){
	transform: translate(504px,98px);	
}
.photoWall img:nth-child(7):hover{
	transform: translate(504px,98px) scale(1.2);
}
.photoWall img:nth-child(8){
	transform: rotate(13deg) translate(-86px,250px);	
}
.photoWall img:nth-child(8):hover{
	transform: translate(-80px,220px) scale(1.2);
}
.photoWall img:nth-child(9){
	transform: rotate(-10deg) translate(58px,234px);	
}
.photoWall img:nth-child(9):hover{
	transform: translate(58px,225px) scale(1.2);
}
/*私人定制*/
.privateShopping{
	max-width:1920px;
	min-width:1000px;	
}
.privateShoppingBox{
	width:1000px;
	margin:0px auto;
	text-align: center;
	box-sizing:border-box;
}
.psHead{
	width:1000px;
	height:300px;	
}
.psHead h1{
	margin:60px 0px 40px;
	color: gray;
}
.psHead section{
	margin-bottom:20px;
	color:#a6a6a6;
}
.psHead section:nth-child(2){
	color:#000000;
}
/*私人定制的照片墙*/
.psphotoWall{
	width: 1000px;
	height: 670px;
}
.psphotoWall li section{
	float: left;
	width: 320px;
	height: 330px;
	margin-bottom: 10px;
	margin-right: 20px;
	overflow: hidden;
	
}
.psphotoWall li section img{
	width: 100%;
	height: 100%;
	transition: all 1s;
}
.psphotoWall li:nth-child(1) section:nth-child(2){
	width:660px;
	margin-right: 0px;
}
.psphotoWall li:nth-child(2) section:nth-child(3){
	margin-right: 0px;
}
.psphotoWall li:nth-child(2) section:nth-child(3)>img{
	/*transform: scale(1.15,1.05);*/
	width: 350px;
	height: 345px;
	margin-top:-10px;
}
.psphotoWall li section:hover img{
	transform: scale(1.2) rotate(10deg);
}
/*私人定制选项卡*/
.psTabs{
	width: 1000px;
	height: 800px;
	margin:0px auto;
	margin-top: 120px;	
	position: relative;
}

/*选项卡导航栏*/
.psTabsList li{	
	float: left;	
}
.psTabsList li a{
	display: inline-block;	
	width:200px;
	height:50px;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	background-color: #E3E3E3;
	color: #808080;
	transition: all 1s;
	margin-left: 10px;
}
/*选项卡内容部分*/
.psTabsList li a+section{
	width: 1000px;
    height: 630px;
   	background-color: #fff;/*由于第一个section即婚纱摄影部分设置的是始终显示，所以在移入第二、三部分的时候，第一部分的婚纱摄影一直显示。这里加一个背景色就会遮盖住第一个部分的婚纱摄影的section*/
   	position: absolute;/*定位，所有内容部分叠加在一起*/
   	left: 0px;
   	display: none;
}
.psTabsList li:hover section{
	display: block;
}
.psTabsList li a+section li{
	width:326px;
	height:330px;
	margin-top:10px;
	margin-right:10px;
	float:left;	
}
.psTabsList li a+section li:nth-child(3n){
	margin-right:0px;
}
/*选项卡动态效果*/

.psTabsList li a:hover{
	background-color: #FFC001;
	color:#fff;
}

.psTabsList li .weddingsP{
	display: block;
}
/*鼠标移入选项卡的内容后的动画效果*/
@keyframes TabsAnimation1{
	0%{transform:rotate(0deg)}
	15%{transform: rotate(0deg);}
	30%{transform: rotate(-30deg);}
	45%{transform: rotate(-30deg);}
	60%{transform: rotate(-15deg);}
	75%{transform: rotate(-15deg);}
	90%{transform: rotate(-25deg);}
	100%{transform: rotate(-25deg) scale(1.1);}
}
.psTabsList li a+section li:hover{
	animation: TabsAnimation1 0.4s forwards;
}

